header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d2133;
    border-bottom: 1px solid #328e8b;
}

#root {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #1d2133;
    color: #328e8b;
    font-family: Verdana, sans-serif;
}

#title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}